/**
 * Float Layout Activity
 **/

* {
  box-sizing: border-box;
  text-align: center;
}

body {
}

header {
  padding: 20px;
  margin-bottom: 20px;
  color: #333;
  background: #FFA500;
}

section {
}

#left { padding: 20px;
  margin-bottom: 20px;
  width: 634px;
  color:  rgb(255, 255, 255)33;
  background: #30948D;
  float: left;
}

#middle { padding: 20px;
  margin-bottom: 20px;
  width: 634px;
  color:  rgb(255, 255, 255)#333;
  background: #9E1212;
  float: left;
}

#right { padding: 20px;
  margin-bottom: 20px;
  width: 634px;
  color: rgb(255, 255, 255);
  background: #30948D;
  float: left
}

#full {padding: 20px;
  margin-bottom: 20px;
  color: rgb(255, 255, 255);
  background: #394549;
  clear: both
}

#division {padding: 20px;
  margin-bottom: 20px;
  color: rgb(255, 255, 255);
  background: #6ea3da
}

aside {padding: 20px;
  margin-bottom: 20px;
  width: 20px;
  height: 200px;
  color: rgb(255, 255, 255);
  background: #a6b747;
  clear: both
}

footer { padding: 20px;
  margin-bottom: 20px;
  color: #333;
  background: #FFA500;
}
.clearfix::after {
  content: " ";
  display: block;
  clear: both;
}